<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="HomeAssignment" verbose="1" thread-count="2" parallel="methods">

  <test name="Home_Assignments" >
    <classes>
       <class name="homeAssignment.FaceBookLoginTest" /> 
       <!-- <class name="homeAssignment.BrowserNevigationMethods" /> 
       <class name="homeAssignment.ClickOnImage" />
       <class name="properties.TestCaseGetData"></class>-->       
    </classes>
  </test>
</suite>

